In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

sales_details_2018_z = pd.read_csv("sales2_details_NoZ2018.csv")

print(sales_details_2018_z)

    homesalecount  avgsaleprice  medsaleprice    GeoID
0            1128        157649        145950  ZI63123
1             696        294492        280000  ZI63011
2            1025        251951        227500  ZI63021
3             356         67045         41725  ZI63137
4             605        146375        114000  ZI63118
5             177         58138         50000  ZI63134
6             319        238304        185000  ZI63144
7             174        163868        165000  ZI63044
8             791        370493        349750  ZI63017
9             320        703499        571500  ZI63105
10            521        257825        234500  ZI63128
11            364        458782        371000  ZI63141
12            335        662447        540000  ZI63131
13            255        308322        285000  ZI63025
14            567        247138        220000  ZI63026
15            397         68868         51000  ZI63135
16            937        100319         96658  ZI63033
17            396         94116         94875  ZI63042
18            474         62658         42000  ZI63136
19            964        347840        289975  ZI63122
20            695        122181        119500  ZI63125
21            217        157550        153000  ZI63143
22            482        163322        162000  ZI63043
23            279         77134         50000  ZI63121
24            901        209740        200000  ZI63129
25            380        171220        160000  ZI63034
26            740         79978         70490  ZI63114
27             63         44858         36660  ZI63133
28             81         64380         43525  ZI63115
29            225        333913        255900  ZI63117
30            425        234549        197000  ZI63104
31             16         57415         40047  ZI63107
32            301        377079        277000  ZI63108
33            343        230399        189900  ZI63110
34            382         87023         66063  ZI63111
35            167        268538        167500  ZI63112
36             61         94483         52000  ZI63113
37            632        158758        150500  ZI63139
38            566        217546        199950  ZI63146
39             65         49190         38300  ZI63147
40            301         89513         77500  ZI63074
41             79        384737        349900  ZI63127
42            611        257045        208000  ZI63130
43            146        177466        166500  ZI63088
44             17         77772         31500  ZI63120
45            768        272685        229000  ZI63119
46            204        305415        310000  ZI63040

In [2]:
sales_details_2018_z["homesalecount"].sum()
print(sales_details_2018_z["homesalecount"].sum())
print(len(sales_details_2018_z["homesalecount"]))

19948
47

In [3]:
 homesalecount_expected = sales_details_2018_z["homesalecount"].sum() / len(sales_details_2018_z["homesalecount"])
print(homesalecount_expected)

424.4255319148936

In [4]:
sales_details_2018_z[homesalecount_expected] = sales_details_2018_z["homesalecount"].sum() / len(sales_details_2018_z["homesalecount"])
sales_details_2018_z.drop(sales_details_2018_z.columns[[1,2,3]], axis=1, inplace=True)
sales_details_2018_z

    homesalecount  424.4255319148936
0            1128         424.425532
1             696         424.425532
2            1025         424.425532
3             356         424.425532
4             605         424.425532
5             177         424.425532
6             319         424.425532
7             174         424.425532
8             791         424.425532
9             320         424.425532
10            521         424.425532
11            364         424.425532
12            335         424.425532
13            255         424.425532
14            567         424.425532
15            397         424.425532
16            937         424.425532
17            396         424.425532
18            474         424.425532
19            964         424.425532
20            695         424.425532
21            217         424.425532
22            482         424.425532
23            279         424.425532
24            901         424.425532
25            380         424.425532
26            740         424.425532
27             63         424.425532
28             81         424.425532
29            225         424.425532
30            425         424.425532
31             16         424.425532
32            301         424.425532
33            343         424.425532
34            382         424.425532
35            167         424.425532
36             61         424.425532
37            632         424.425532
38            566         424.425532
39             65         424.425532
40            301         424.425532
41             79         424.425532
42            611         424.425532
43            146         424.425532
44             17         424.425532
45            768         424.425532
46            204         424.425532

In [5]:
sales_details_2018_z.columns = ["HomeSaleCount", "HomeSaleCountExpected"]
sales_details_2018_z

    HomeSaleCount  HomeSaleCountExpected
0            1128             424.425532
1             696             424.425532
2            1025             424.425532
3             356             424.425532
4             605             424.425532
5             177             424.425532
6             319             424.425532
7             174             424.425532
8             791             424.425532
9             320             424.425532
10            521             424.425532
11            364             424.425532
12            335             424.425532
13            255             424.425532
14            567             424.425532
15            397             424.425532
16            937             424.425532
17            396             424.425532
18            474             424.425532
19            964             424.425532
20            695             424.425532
21            217             424.425532
22            482             424.425532
23            279             424.425532
24            901             424.425532
25            380             424.425532
26            740             424.425532
27             63             424.425532
28             81             424.425532
29            225             424.425532
30            425             424.425532
31             16             424.425532
32            301             424.425532
33            343             424.425532
34            382             424.425532
35            167             424.425532
36             61             424.425532
37            632             424.425532
38            566             424.425532
39             65             424.425532
40            301             424.425532
41             79             424.425532
42            611             424.425532
43            146             424.425532
44             17             424.425532
45            768             424.425532
46            204             424.425532

In [6]:
critical_value = stats.chi2.ppf(q = 0.95, df = 46)
print(critical_value)

62.829620411408165

In [7]:
stats.chisquare(sales_details_2018_z["HomeSaleCount"], sales_details_2018_z["HomeSaleCountExpected"])

Power_divergenceResult(statistic=8937.60437136555, pvalue=0.0)